@charset "utf-8";
@font-face {
    font-family: "freefont";
    src: url("../fonts/ipaexg.ttf") format("truetype");
}
body {
    margin: 0 auto;
    font-family: 'Raleway','freefont', sans-serif;
    font-size:62.5%;
    /*background: #fff35d;*/
}
a {
    text-decoration: none;
}
ul li {
    list-style: none;
}

/***************************
    navigation
****************************/
.header {}
.header-container {}
.navbar-header {
    width: 100%;
    height: 100%;
    position: relative;
}
.header-container {
    position: relative;
}
.navbar-default {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    margin: auto;
    text-align: center;
    border: none;
    background: rgba(0,0,0,0);
}
/*.logo_image {
    margin: 0 40px;
}*/
.navbar-default .navbar-nav > li > a {
    color: #44c5ff;
    font-size: 1.35em;
    font-weight: 600;
    letter-spacing: .025em; 
    text-transform: uppercase;
}
@media (min-width: 768px) {
    .navbar-default .navbar-nav > li > a {
        margin: 10px 0 0 0;
        color: #fff35d;
        font-size: 1.15vw;
        line-height: 30px;
    }
}
/* 背景色 */
@media (max-width: 768px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        background: rgba(250, 250, 250, 0.7);
        border: none;
    }
}
.navbar-default .navbar-toggle {
    margin: 40px 40px 0 0;
    border: none;
    transition: all ease .5s;
}
.navbar-default .navbar-toggle .icon-bar {
    border: solid 1px #44c5ff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(0,0,0,0);
}
/*
.menu-global-sns {
    display: flex;
    justify-content: center;
}
.menu-global li a img {
    width: 20px;
    height: auto;
}
*/
.navbar-collapse .navbar-nav > li > a {
    transition: all ease .5s;
}
.navbar-collapse .navbar-nav > li > a:hover {
    color: #2d2c2c;
}

@media (min-width: 768px) {
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {}
    .menu-global-main {
        width: 49%;
        position: absolute;
        right: 0;
        margin: auto;
        background: #44c5ff;
    }
    .menu-global-main > li {
        position: relative;
    }
    .menu-global-main > li:before {
        position: absolute;
        top: 1em;
        bottom: 0;
        left: -1em;
        display: block;
        width: 1em;
        height: 1em;
        margin: auto;
        content: "/";
        vertical-align: middle;
        color: #fff35d;
    }
    .menu-global-main > li:first-child:before {
        display: none;
        content: "";
    } 
}

/***************************
    main
****************************/
.main {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.finish_wrap {
    width: 90%;
    height: auto;
    margin: 150px auto 70px auto;
    font-size: 1.65em;
    position: relative;
}
.finish_wrap h2 {
    text-align: center;
}
/***************************
    ボタン
****************************/
.btn_wrap {
    display: block;
    margin: 40px auto;
}
a.top_btn, a.re_btn {
    display: block;
    width: 240px;
    height: 55px;
    margin: 20px auto 0 auto;
    background: #2d2c2c;
    color: #fafafa;
    text-align: center;
    text-decoration: none;
    position: relative;
    transition: all .5s ease;
}
a.top_btn, a.re_btn {
    padding: 16px 0 0 0;
}
a.top_btn:hover, a.re_btn:hover {
    background: #44c5ff;
}
@media (min-width: 768px) {
    .main {
        width: 90%;
        height: 46vh;
        margin: 0 auto;
    }
    .finish_wrap {
        width: 100%;
        height: auto;
        font-size: 1.65em;
        position: relative;
    }
    .btn_wrap {
        display: flex;
        justify-content: space-around;
        width: 70%;
        margin: 40px auto 0 auto;
    }
}


/***************************
    footer
****************************/
.footer_wrap {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-size: 1.35em;
    position: relative;
    background: #44c5ff;
}
.footer_nav {
    width: 100%;
    margin: 0;
}
@media (min-width: 768px) {
    .footer_nav_wrap {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}
.footer_nav_wrap {
    width: 50%;
    margin: 0 auto 15px auto;
    text-align: center;
}
.footer_wrap img {
    margin: 0 0 15px 0;
}
.footer_nav_wrap li {
    display: block;
    width: 100%;
    text-transform: uppercase;
}
.footer_nav_wrap li a {
    display: block;
    padding: 0 15px 15px 0;
    font-weight: 600;
    text-decoration: none;
    color: #fafafa;
    transition: all .5s ease;
}
.footer_nav_wrap li a:hover {
    color: #fff35d;
}
.footer_wrap small {
    display: block;
    color: #fafafa;
    text-align: center;
}