@charset "utf-8";
@font-face {
    font-family: "freefont";
    src: url("../fonts/ipaexg.ttf") format("truetype");
}

body {
    width: 100%;
    margin: 0 auto;
    /*background: #fff35d;*/
    font: 16px 'Raleway',"freefont", sans-serif;
    font-size:62.5%;
    overflow: hidden;
}
a {
    text-decoration: none;
}
ul li {
    list-style: none;
}

/***************************
    navigation
****************************/
.header {}
.header-container {}
.navbar-header {
    width: 100%;
    height: 100%;
    position: relative;
}
.header-container {
    position: relative;
}
.navbar-default {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    margin: auto;
    text-align: center;
    border: none;
    background: rgba(0,0,0,0);
}
/*.logo_image {
    margin: 0 40px;
}*/
.navbar-default .navbar-nav > li > a {
    color: #44c5ff;
    font-size: 1.35em;
    font-weight: 600;
    letter-spacing: .025em; 
    text-transform: uppercase;
}
@media (min-width: 768px) {
    .navbar-default .navbar-nav > li > a {
        margin: 10px 0 0 0;
        color: #fff35d;
        font-size: 1.15vw;
        line-height: 30px;
    }
}
/* 背景色 */
@media (max-width: 768px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        background: rgba(250, 250, 250, 0.7);
        border: none;
    }
}
.navbar-default .navbar-toggle {
    margin: 40px 40px 0 0;
    border: none;
    transition: all ease .5s;
}
.navbar-default .navbar-toggle .icon-bar {
    border: solid 1px #44c5ff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(0,0,0,0);
}
/*
.menu-global-sns {
    display: flex;
    justify-content: center;
}
.menu-global li a img {
    width: 20px;
    height: auto;
}
*/
.navbar-collapse .navbar-nav > li > a {
    transition: all ease .5s;
}
.navbar-collapse .navbar-nav > li > a:hover {
    color: #2d2c2c;
}

@media (min-width: 768px) {
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {}
    .menu-global-main {
        width: 49%;
        position: absolute;
        right: 0;
        margin: auto;
        background: #44c5ff;
    }
    .menu-global-main > li {
        position: relative;
    }
    .menu-global-main > li:before {
        position: absolute;
        top: 1em;
        bottom: 0;
        left: -1em;
        display: block;
        width: 1em;
        height: 1em;
        margin: auto;
        content: "/";
        vertical-align: middle;
        color: #fff35d;
    }
    .menu-global-main > li:first-child:before {
        display: none;
        content: "";
    } 
}
/****************************
main
****************************/
.main {
    width: 97%;
    height: auto;
    margin: 150px auto 0 auto;
    text-align: center;
}
/***************************
    result
****************************/
.result_wrap {
    width: 100%;
    height: auto;
    position: relative;
}
.result_pac {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.7);
    position: relative;
}
.result_wrap .result_pac img {
    width: 200px;
    height: auto;
}
.result_wrap h2 {
    margin: 0 0 40px 0;
    font-size: 1.85em;
}
.btn_wrap {
    display: block;
    margin: 40px auto;
}
a.cart_btn, a.back_btn {
    display: block;
    width: 280px;
    height: 55px;
    margin: 20px auto 0 auto;
    padding: 15px 0 0 0;
    background: #2d2c2c;
    color: #fafafa;
    font-size: 1.75em;
    text-align: center;
    text-decoration: none;
    position: relative;
    transition: all .5s ease;
}
a.cart_btn:hover, a.back_btn:hover {
    background: #44c5ff;
}
input[type="submit"]:focus {
  outline: 0;
}
@media (min-width: 768px) {
    .main {
        width: 97%;
        height: auto;
        margin: 150px auto 80px auto;
        text-align: center;
    }
    .result_wrap .result_pac img {
        width: 300px;
        height: auto;
    }
    .btn_wrap {
        display: flex;
        justify-content: space-around;
        width: 86%;
        margin: 40px auto 0 auto;
    }
}

/***************************
    error
****************************/
.error_wrap {
    width: 100%;
    height: 40vh;
    margin: 240px 0 0 0;
    position: relative;
}
.error_wrap h2.err_text {
    margin: 40px;
    font-size: 1.75em;
}
a.err_back_btn {
    display: block;
    width: 280px;
    height: 55px;
    margin: 20px auto 0 auto;
    padding: 15px 0 0 0;
    background: #2d2c2c;
    color: #fafafa;
    font-size: 1.75em;
    text-align: center;
    text-decoration: none;
    position: relative;
    transition: all .5s ease;
}
a.err_back_btn:hover {
    background: #44c5ff;
}
@media (min-width: 768px) {
    .error_wrap h3 {
        font-size: 2.45em;
    }
}


/***************************
    footer
****************************/
.footer_wrap {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-size: 1.35em;
    position: relative;
    background: #44c5ff;
}
.footer_nav {
    width: 100%;
    margin: 0;
}
@media (min-width: 768px) {
    .footer_nav_wrap {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}
.footer_nav_wrap {
    width: 50%;
    margin: 0 auto 15px auto;
    text-align: center;
}
.footer_wrap img {
    margin: 0 0 15px 0;
}
.footer_nav_wrap li {
    display: block;
    width: 100%;
    text-transform: uppercase;
}
.footer_nav_wrap li a {
    display: block;
    padding: 0 15px 15px 0;
    font-weight: 600;
    text-decoration: none;
    color: #fafafa;
    transition: all .5s ease;
}
.footer_nav_wrap li a:hover {
    color: #fff35d;
}
.footer_wrap small {
    display: block;
    color: #fafafa;
    text-align: center;
}
